body{
  background-color: #D9D9D9;
}

.form-control:focus {
    box-shadow: none;
    border-color: #4B3A3A; 
}

.profile-button {
    background: #4B3A3A; 
    box-shadow: none;
    border: none;
    color: white;
}

.profile-button:hover {
    background: #3A2D2D; 
}

.profile-button:focus {
    background: #3A2D2D;
    box-shadow: none;
}

.profile-button:active {
    background: #3A2D2D;
    box-shadow: none;
}

.back:hover {
    color: #3A2D2D;
    cursor: pointer;
}

.labels {
    font-size: 11px;
    color: #333; 
}

.add-experience:hover {
    background: #4B3A3A;
    color: #fff;
    cursor: pointer;
    border: solid 1px #4B3A3A;
}

.form-control{
    background-color: #f1f1f1;
}
