@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

advent-pro-zica {
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.search{
    justify-content: right;
    align-items: end;
    justify-items:right ;
}

.carrossel{
  border: solid 20px #D9D9D9 ;

}

body{
  background-color: #D9D9D9;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
  justify-content: center;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.botaocompra {
    padding: 10px 15px;
    background-color:  #898989; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px; 
}

.carousel-inner {
  aspect-ratio: 16 / 7; /* mantém proporção widescreen responsiva */
  width: 100%;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover; 

}

.scroll-container {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scroll-container > .card {
  scroll-snap-align: start;
}




html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.form-select,.form-control{
    background-color: #f1f1f1;
}